*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(226, 221, 221);
    font-family: sans-serif;
    outline: none;
}
.container{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caculator{

    background-color: aliceblue;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                                   5px 5px 12px  rgba(0,0,0.16);
      display: grid;
      grid-template-columns: repeat(4,60px);

}

input{

    grid-column: span 4;
    height: 80px;
    width: 250px;
    background-color: aliceblue;
    box-shadow: inset -5px -5px 12px #ffffff,
                            inset 5px 5px 12px hwb(0 31% 20% / 0.763);

   border: none;
   border-radius: 40px;
   color:rgb(70,70,70);
   font-size: 50px;
   text-align: end;
   margin: auto;
   margin-top: 40px;
   margin-bottom: 30px;
   padding: 20px;
}

button{

    height: 48px;
    width: 48px;
    background-color: rgb(241, 239, 239);
    box-shadow: inset -5px -5px 12px #ffffff,
                            inset 5px 5px 12px hwb(0 71% 21% / 0.763);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
}

.equal{

    width: 115px;
    border-radius: 40px;
    background-color: antiquewhite;
    box-shadow: inset -5px -5px 12px #ffffff,
                            inset 5px 5px 12px hwb(0 71% 21% / 0.763);

}
